<div class="page">
  <div class="list">
    <h1>Employees list</h1>
    @if(employees === null){
    <p>Loading ...</p>
    }@else if (employees.length === 0) {
    <p>No employees yet</p>
    } @else {
    <ul>
      @for(employee of employees; track employee._id){
      <li>{{ employee.name }}</li>
      }
    </ul>
    }
  </div>
  <div class="form">
    <h1>Add an employee</h1>
    <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
      <input type="text" formControlName="name" placeholder="Name" />
      <input type="submit" value="Add" />
    </form>
  </div>
</div>
